<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Control</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f3f3f3;
      padding: 20px;
    }

    h2 {
      margin-bottom: 15px;
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #ffffff;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }

    th {
      background: #222;
      color: #fff;
    }

    .active {
      color: green;
      font-weight: bold;
    }

    .blocked {
      color: red;
      font-weight: bold;
    }

    button {
      padding: 5px 12px;
      border: none;
      cursor: pointer;
      color: white;
    }

    .block {
      background-color: #d63031;
    }

    .unblock {
      background-color: #00b894;
    }
    .admintext {
      color: #1200b8;
      font-weight: bold;
    }
  </style>
</head>

<body>

  <h2>Admin User Control</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

  <% if (data && data.length > 0) { %>
  
  <% data.forEach(user => { %>
  
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>


<td>
  <% if (user.role === 'admin') { %>
    <span class="admintext">Admin</span>
  <% } else if (user.blockstatus) { %>
    <span class="active">Active</span>
  <% } else { %>
    <span class="blocked">Blocked</span>
  <% } %>
</td>

<td>
  <% if (user.role === 'admin') { %>
    <span class="admin">Unalterable</span>

  <% } else if (user.blockstatus) { %>
    <form action="/block/<%= user.id %>" method="POST">
      <button class="block" type="submit">Block</button>
    </form>

  <% } else { %>
    <form action="/unblock/<%= user.id %>" method="POST">
      <button class="unblock" type="submit">Unblock</button>
    </form>
  <% } %>
</td>


      
    </tr>
  <% }) %>
<% } %>

    

  </table>

</body>
</html>
